<!-- 
This template and all other Angular templates are rendered
in the uiView directive provided by AngularUI Router (/app/views/index.html).

This template uses the ArticlesController (/public/js/controllers/articles.js).
Once loaded, ngInit executes the "find" method of the controller.
REF: http://docs.angularjs.org/api/ng/directive/ngInit

GOTO: /public/js/controllers/articles.js :$scope.find
 -->
<section data-ng-controller="ArticlesController" data-ng-init="find()">
	<ul class="articles unstyled">

        <!-- 
        Loop through "articles" in the controller.
         -->
		<li data-ng-repeat="article in articles">
			<span>{{article.created | date:'medium'}}</span> /
			<span>{{article.user.name}}</span>

            <!-- 
            ngHref is used instead of href so nothing will break if the user clicks
            the link before the binding's been updated.
            QUESTION: Is this needed here?  Learn more about the digest loop to find out.
            REF: http://docs.angularjs.org/api/ng/directive/ngHref

            GOTO: /public/js/config.js (/articles/:articleId)
             -->
			<h2><a data-ng-href="#!/articles/{{article._id}}">{{article.title}}</a></h2>
			<div>{{article.content}}</div>
		</li>
	</ul>

    <!-- 
    If there are no articles, show this.
    GOTO: 
     -->
	<h1 data-ng-hide="!articles || articles.length">No articles yet. <br> Why don't you <a href="/#!/articles/create">Create One</a>?</h1>
</section>