<!-- 
This view uses the ArticlesController.
ngInit executes the controller's "findOne" method immediately.
GOTO: /public/js/controllers/articles.js :$scope.findOne
 -->
<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
    <span>{{article.created | date:'medium'}}</span> /
    <span>{{article.user.name}}</span>
    <h2>{{article.title}}</h2>

    <!-- 
    If the current user is the owner of this article, show the edit button.
     -->
    <div data-ng-show="global.user._id == article.user._id">

        <!-- 
        GOTO: /public/js/config.js (GET /articles/:articleId/edit)
         -->
        <a class="btn" href="/#!/articles/{{article._id}}/edit">
        	<i class="glyphicon glyphicon-edit"></i>
        </a>

        <!-- 
        Execute the controller's "remove" method.
        GOTO: /public/js/controllers/articles.js :remove
         -->
        <a class="btn" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <div>{{article.content}}</div>
</section>
